.NoweTlo {  
    background-color: rgb(246, 238, 246);  
}

.naglowek {
    text-align: center;
    color: rgb(62, 12, 110);
}

.GranatowyNapis {
    color:#cd20a7;
}

.InnyKolor {
    color:rgb(8, 31, 87);
    background-color: rgb(234, 221, 242);
    text-align: center;
    font-size: large;   
}

.Zdjecie {
        display: block;
        margin-left: auto;
        margin-right: auto
}

.ZdjNowe {
    display: block;
    margin-left: auto;
    margin-right: auto
}